<h1><%= @user.email %></h1>
<dl class="dl-horizontal">
  <dt>Signup date</dt>
  <dd><%= @user.created_at %></dd>
</dl>
<table>
  <tr><th>Title</th><th>Desc</th><th>Course</th><th>Created at</th></tr>
<% @user.documents.each do |document| %>
  <tr>
    <td><%= link_to document.title, document %></td>
    <td><%= document.desc %></td>
    <td><%= link_to document.course.code, document.course %></td>
    <td><%= document.created_at %></td>
  </tr>
<% end %>
</table>