<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :desc, "Description" %>
  <%= f.text_field :desc %>
</div>
<div class="field">
  <%= f.label :course_id, "Course" %>
  <%= courses_selection = [["None", nil]]
    Course.all.each do |course|
      courses_selection << [course.code, course.id]
    end
  select(:document, :course_id, courses_selection) %>
</div>
