<h1><%= @document.title %></h1>
<dl class="dl-horizontal">
  <dt>Title</dt>
  <dd><%= @document.title %></dd>
  <dt>Description</dt>
  <dd><%= @document.desc %></dd>
  <dt>Associated to course</dt>
<% if @document.course %>
  <dd><%= link_to @document.course.code, @document.course %></dd>
<% else %>
  <dd>None</dd>
<% end %>
<% if @document.user %>
  <dt>Owner</dt>
  <dd><%= link_to @document.user.email, @document.user %></dd>
<% else %>
  <dt>Not associated to any user</dt>
<% end %>
</dl>
<%= link_to "Download", @document.docfile.url, :class => "btn btn-primary", :target => "_blank" %>
<%= link_to "Edit", edit_document_path(@document), :class => "btn" %>