<%= render 'shared/error_messages', object: f.object %>
<div class="field">
  <%= f.label :code %>
  <%= f.text_field :code, maxlength: 4, size: 4 %>
</div>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>