<h1><%= @course.code %></h1>
<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @course.name %></dd>
  <dt>Created at</dt>
  <dd><%= @course.created_at %></dd>
</dl>
<table>
  <tr><th>Title</th><th>Desc</th><th>Created at</th></tr>
<% @course.documents.each do |document| %>
  <tr>
    <td><%= link_to document.title, document %></td>
    <td><%= document.desc %></td>
    <td><%= document.created_at %></td>
  </tr>
<% end %>
</table>