<div class="navbar">
    <div class="navbar-inner">
      <%= link_to @app_name, root_path, class: "brand"%>
      <ul class="nav">
        <li><%= link_to "Home", { controller: "/pages", action: "home" } %></li>
        <li><%= link_to "Courses", courses_path %></li>
        <li><%= link_to "Most viewed", { controller: "/documents", action: "most_viewed" } %></li>
      </ul>
      <ul class="pull-right">
        <% if user_signed_in? %>
          Signed in as <%= current_user.email %>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= button_to "Sign in", new_user_session_path, method: :get %>
          <%= button_to "Sign up", new_user_registration_path, method: :get %>
        <% end %>
      </ul>
  </div>
</div>